@use "../../../ui-kit/scss/variables.scss" as *;

.alert_success {
    position: fixed;
    right: 20px;
    bottom: 20px;
    min-width: 200px;
    max-width: 100%;
    padding: 19px 40px;
    text-align: center;
    background: #00C05A;
    box-shadow: 0px 0px 40px rgba(0, 192, 90, 0.35);
    border-radius: 8px;
    color: white;
    opacity: 0.9;
}