@use "../../ui-kit/scss/variables.scss" as *;

.body {
  margin: 100px 0 60px;
  font-weight: 500;
  max-width: 850px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

.info {
  margin-top: 30px;
  padding: 30px 36px;

  &__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 18px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
    color: $dark-gray;

    margin-bottom: 36px;
  }

  &__list-item {
    font-size: 18px;
    line-height: 25px;
    color: $dark-gray;

    & + & {
      margin-top: 15px;
    }
  }

  &__button {
    margin-top: 30px;
  }

  &__disclaimer {
    font-size: 13px;
    line-height: 16px;
    color: $dark-gray;

    margin-top: 20px;
    max-width: 450px;

    &--underline {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.news-item {
  font-weight: 500;
  padding: 24px 0;
  border-bottom: 1px solid #67748140;

  &__date {
    color: $dark-gray;

    margin-bottom: 12px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $gold;

    margin-bottom: 12px;
  }

  &__text {
    color: $dark-gray;
    line-height: 22px;
    max-width: 780px;

    margin-bottom: 16px;
  }

  &__link {
    text-decoration: underline;
    color: $dark-gray;
  }
}

@media (max-width: 768px) {
  .body {
    margin-bottom: 130px;
  }

  .news-item {
    &__text {
      font-size: 15px;
      line-height: 21px;
    }

    &__link {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .info {
    padding: 20px 24px;

    &__list-item {
      font-size: 18px;
      line-height: 22px;
    }
  }
}


.page_content p {
  margin-top: 18px;
}
.page_content {
  line-height: 22px;
  font-size: 18px;
  font-weight: 200;
}